/* 
@media (max-width: @screen-sm-max) { .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 } */
 body{
  background: url("../assets/images/wood-background.jpg");
  background-position:center;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-attachment: fixed;
  background-size: cover;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Chicle', cursive;
  font-weight: 400;
}

#profile-pic {
    max-width: 500px;
    height: 100px;
}
.jumbotron {
  background-color:transparent !important; 
  /* background-color: #665245; */
  margin-bottom: 0%;
  padding-bottom: 10px;
}
  .card {
    display: inline-block;
    /* max-width: 320px;
    height: 200px;  */
    font-family: 'Open Sans', sans-serif;
  }
/* breweries */
.brew-link{
  color:  #343C3F;
}
  .card-text-brew {
font-size: 13px;
font-style: bold;
  }
  .noborder {
    border: none;
}
.display-6{
  /* color: #C29445; */
  color: #E5A749;
  line-height: 100px; 
  font-size: 90px;
  text-shadow: -1px 1px 2px #343C3F,
  1px 1px 2px #343C3F,
  1px -1px 0 #343C3F,
  -1px -1px 0 #343C3F;
}
.display-7{
  /* color: #C29445; */
  color: #E5A749;
  line-height: 100px; 
  font-size: 100px;
  text-shadow: -1px 1px 2px #343C3F,
				  1px 1px 2px #343C3F,
				  1px -1px 0 #343C3F,
				  -1px -1px 0 #343C3F;
}
#map{
  display: inline-block;
  height: 300px;
  width: 325px;
  border: 1px solid #343C3F;
}
/* favorites page */
.lead-name{
  font-size: 28px;
  /* font-style: bold; */
  font-family: 'Open Sans', sans-serif;
}
.lead-bio{
  font-size: 26px;
}
.display-4 {
  color: #E5A749;
  line-height: 100px; 
  font-size: 80px;
  text-shadow: -1px 1px 2px #343C3F,
				  1px 1px 2px #343C3F,
				  1px -1px 0 #343C3F,
				  -1px -1px 0 #343C3F;
}
#card-fave {
  background-color:#DBD9D4;
}
#card-body-fave{
  margin-top: 10px;
  margin-bottom: 10px;
}
#card-header-fave {
  margin-top: 9px;
  font-size: 18px;
  color: #343C3F;
  font-style: bold;
}
h5.card-title {
  color: #343C3F;
  font-style: bold;
}
/* recommendations */
#card-rec {
  background-color:#DBD9D4;
}
#card-body-rec{
  margin-top: 10px;
  margin-bottom: 10px;
}
#card-header-rec {
  margin-top: 9px;
  font-size: 18px;
  color: #343C3F;
  font-style: bold;
}
h5.card-title {
  color: #343C3F;
  font-style: bold;
}
/* nav bar */
.nav-link{
color: #DBD9D4;
font-family: 'Open Sans', sans-serif;
}
.active {
  background-color: #E5A749 !important;
}
.nav{
font-size: 11px;
  background-color: #343C3F;
}
/* mouse over link */
a:hover {
  color:#7D8284;
}
/* profile page */
.h4{
  font-size: 28px;
  /* font-style: bold; */
  font-family: 'Open Sans', sans-serif;
}
#profile-pic {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.h3{
  font-size: 28px;
  font-style: bold;
  font-family: 'Chicle', cursive;
}
.user-info {
  color: #343C3F; 
  margin-top: 25px;
}

hr {
  border-top: 2px solid  #E5A749;
}

#beer-profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(0px, auto);
  margin-bottom: 25px;
/* background-color: #DBD9D4; */
}

#new-profile {
  margin-bottom: 100px;
  background-color: #DBD9D4;
}

.profile {
  background-color:#DBD9D4;
  color:#343C3F;
}