/* 
@media (max-width: @screen-sm-max) { .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 } */

body {
  background: url("../assets/images/wood-background.jpg");
  background-position: center;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-attachment: fixed;
  background-size: cover;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Chicle", cursive;
  font-weight: 400;
}

#profile-pic {
  max-width: 250px;
  height: 60px;
}
#chicago-stars {
  margin-bottom: 40px;
  display: inline-block;
  max-width: 56px;
  /* height: 57px; */
}
#chicagoStars {
  align-content: center;
  display: block;
  max-width: 156px;
}
.jumbotron {
  background-color: transparent !important;
  /* background-color: #665245; */
  margin-bottom: 0%;
  padding-bottom: 7px;
}
.card {
  display: inline-block;
  /* max-width: 320px;
    height: 200px;  */
  font-family: "Open Sans", sans-serif;
}

#card-fave {
  margin-bottom: 50px;
}
/* breweries */
.brew-link {
  color: #343c3f;
  font-style: bold;
  font-family: "Chicle", cursive;
  font-size: 28px;
}
.card-text-brew {
  font-size: 13px;
  font-style: bold;
}
.noborder {
  border: none;
}
.display-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  /* color: #C29445; */
  color: #e5a749;
  line-height: 100px;
  font-size: 75px;
  text-shadow: -1px 1px 2px #343c3f, 1px 1px 2px #343c3f, 1px -1px 0 #343c3f,
    -1px -1px 0 #343c3f;
}
.display-7 {
  /* color: #C29445; */
  color: #e5a749;
  line-height: 100px;
  font-size: 100px;
  text-shadow: -1px 1px 2px #343c3f, 1px 1px 2px #343c3f, 1px -1px 0 #343c3f,
    -1px -1px 0 #343c3f;
}
#map {
  display: inline-block;
  /* height: 300px;
  width: 500px;  */
  width: 100%;
  height: 325px;
  border: 1px solid #343c3f;
}
/* favorites page */
.lead-name {
  font-size: 28px;
  /* font-style: bold; */
  font-family: "Open Sans", sans-serif;
}
.lead-bio {
  font-size: 26px;
}
.display-4 {
  color: #e5a749;
  line-height: 100px;
  font-size: 80px;
  text-shadow: -1px 1px 2px #343c3f, 1px 1px 2px #343c3f, 1px -1px 0 #343c3f,
    -1px -1px 0 #343c3f;
}

.fave-delete {
  margin-bottom: 20px;
}

#card-fave {
  font-family: "Roboto", sans-serif;
  background-color: #dbd9d4;
}
#card-body-fave {
  margin-top: 10px;
  margin-bottom: 10px;
}
#card-header-fave {
  margin-top: 9px;
  font-size: 18px;
  color: #343c3f;
  font-style: bold;
}
h5.card-title {
  color: #343c3f;
  font-style: bold;
  font-family: "Chicle", cursive;
  font-size: 34px;
}

/* recommendations */
#card-rec {
  background-color: #dbd9d4;
  font-family: "Roboto", sans-serif;
}
#card-body-rec {
  margin-top: 10px;
  margin-bottom: 10px;
}
#card-header-rec {
  margin-top: 9px;
  font-size: 18px;
  color: #343c3f;
  font-style: bold;
}
h5.card-title {
  color: #343c3f;
  font-style: bold;
}
/* nav bar */
.nav-link {
  color: #dbd9d4;
  font-family: "Open Sans", sans-serif;
}
.active {
  background-color: #e5a749 !important;
}
.nav {
  font-size: 11px;
  background-color: #343c3f;
}
/* mouse over link */
a:hover {
  color: #7d8284;
}
/* profile page */
.h4 {
  font-size: 28px;
  /* font-style: bold; */
  font-family: "Open Sans", sans-serif;
}
#profile-pic {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.h3 {
  font-size: 28px;
  font-style: bold;
  font-family: "Chicle", cursive;
}
#user-name {
  color: #e5a749;
  font-size: 34px;
}
.user-info {
  color: #343c3f;
  margin-top: 25px;
}
hr {
  border-top: 20px solid #9ac5e0;
}
.line {
  border-top: 20px solid #9ac5e0;
  margin-bottom: -10px;
}
.line1 {
  border-top: 20px solid #9ac5e0;
  margin-top: -15px;
}
#beer-profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(0px, auto);
  margin-bottom: 25px;
  /* background-color: #DBD9D4; */
}
.a.rounded {
  border-radius: 50px;
}
#new-profile {
  margin-bottom: 100px;
  background-color: #dbd9d4;
}

.profile {
  background-color: #dbd9d4;
  color: #343c3f;
}
#brew-card {
  font-family: "Roboto", sans-serif !important;
  background-color: #dbd9d4;
  color: #343c3f;
}
#new-card {
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  background-color: #dbd9d4;
  color: #343c3f;
}
/* icons */

.social-links {
  color: #343c3f;
}
i.fa-facebook {
  color: #343c3f;
}
i.fa-instagram {
  color: #343c3f;
}
i.fa-twitter {
  color: #343c3f !important;
}
